@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-straight/css/uicons-bold-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-straight/css/uicons-bold-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css');

body {
  padding: 10px;
  font: 14px 'Nunito Sans', sans-serif;
}

#logo {
  font-size: 48px;
  color: white;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

nav {
  background-color: #10151d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.avatar {
  border-radius: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.userProfileContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 20px;
}

.showItemContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 20px;
}

.showItemName {
  font-weight: bold;
  font-size: 28px;
}

.showItemSoldBy {
  font-weight: bold;
  font-size: 16px;
}
.showItemPrice {
}
.showItemAbout {
}
