@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-straight/css/uicons-bold-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-straight/css/uicons-bold-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-straight/css/uicons-bold-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-rounded/css/uicons-bold-rounded.css');

body {
  font: 14px 'Nunito Sans', sans-serif;
}

#logo {
  font-size: 48px;
  color: white;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

nav {
  background-color: #10151d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  border-radius: 15px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.avatar {
  border-radius: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.userProfileContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 20px;
}

.showItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px;
}

.showItemName {
  font-weight: bold;
  font-size: 28px;
  text-align: justify;
}

.showItemSoldBy {
  font-size: 14px;
}

.showItemPrice {
  font-size: 20px;
}

.showItemAbout {
  text-align: justify;
  margin-right: 200px;
}

.itemShowImg {
  height: 40vh;
  width: 35vw;
  margin-right: 5vw;
  /* margin-left: 100px; */
}

.buyItemButton {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out; /* for hover effects */
}

.buyItemButton {
  background-color: #007bff;
  color: #fff;
}

.buyItemButton:hover {
  background-color: #014389;
}

.hidden-icon {
  display: none;
}

.buyItemButton:hover .hidden-icon {
  display: inline-block; 
}

.buyItemButton:hover .hide-buy-text {
  display: none; 
}
