<%- include('../partials/header') %> 

<form action="/items/:id" method="POST">
<label >name: <input type="text" name="name"></label>
<label >price: <input type="number" name="price"></label>
<label >desc: <input type="text" name="desc"></label>
<label >image: <input type="text" name="image"></label>
<label >quantity: <input type="number" name="qty"></label>
<br>
<button type="submit">Add Item</button>
</form>

<%- include('../partials/footer') %> 