<%- include('../partials/header') %>

<form action="/items/:id" method="POST">
    <label
      >Name: <input type="text" name="name"
    /></label>
    <label 
      >Price: <input type="number" name="price"
    /></label>
    <label 
      >Desc: <input type="text" name="desc"
    /></label>
    <label>Image: <input type="text" name="image"
    /></label>
    <label>Quantity: <input type="number" name="qty"
    /></label>
    <br />
    <button type="submit">
        Add Item
    </button>
</form>

<%- include('../partials/footer') %>
