</div>
<nav id="footer">
  <div class="footer-names-container">
    <p class="footer-names">Salman Qais BuAli</p>
    <p class="footer-names">Sayed Najeeb Mohsen</p>
    <p class="footer-names">Esra Ashoor</p>
  </div>
</nav>
</body>
</html>

